.home_banner_area .banner_inner:not(.small) {
    min-height: 100vh !important;
}

.home_banner_area.small {
    // margin-top: 80px;
    min-height: 350px;
}

.home_banner_area .banner_inner.small {
    min-height: 350px;

    .container {

        @media (min-width:992px) {
            padding-top: 12em;
        }

        .banner_content {
            text-align: center;
        }
    }
}