.tooltip {
    background-color: #E0E0E0;
    padding: 1em;
    border-radius: 5px;
    text-align: center;

    >p {
        margin-bottom: 0.5em;
    }

    >ul {
        margin-bottom: 0;

        >li {
            padding-bottom: 0.5em;
        }
    }
}