@import "../variables";
@import "oauth";
@import "buttons";
@import "dropdown";
@import "home";
@import "guide";
@import "screenshotSlider";
@import "translationImages";
@import "numberOfTranslationsPerLanguage";

.ui.modal {
    position: relative !important;
}

.inVisible {
    display: none;
}

.pointer {
    cursor: pointer;
}

.notAllowed,
.notAllowed.ui.icon.button {
    cursor: not-allowed;
}

.col-md-0 {
    @media (max-width: 992px) {
        display: none !important;
    }
}

.col-sm-0 {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.col-xs-0 {
    @media (max-width: 576px) {
        display: none !important;
    }
}

.m0 {
    margin: 0;
}

.mt1 {
    margin-top: 1em;
}

.p1 {
    padding: 1em;
}

.p2 {
    padding: 2em;
}

.p3 {
    padding: 3em;
}

.pt1 {
    padding-top: 1em;
}

// .pt-md-1 {
//     @media (max-width: 768px) {
//         padding-top: 1em;
//     }
// }

.pt2 {
    padding-top: 2em;
}

.pt3 {
    padding-top: 3em;
}

.pb1 {
    padding-bottom: 1em;
}

.pb2 {
    padding-bottom: 2em;
}

.pb3 {
    padding-bottom: 3em;
}

.ta-center {
    text-align: center;
}

img.error {
    max-width: 500px;
}

.row.justify {
    justify-content: center;
}

.ui.form .react-tag-input>.react-tag-input__input {
    width: auto;
    padding: 0 0.5em;
    margin: 0.25em 0.5em;
    border: none;
}

.footer-area {
    ul {
        list-style: none;
        padding: 0;
    }
}

.ReactModal__Overlay {
    z-index: 101;
}

.col-sm-pt1 {
    @media (max-width: 768px) {
        padding-top: 1em;
    }
}

.recharts-tooltip-wrapper {
    ul {
        list-style: none;
        padding: 0 1em;
    }
}

.translator-card {
    display: flex;

    .num {
        width: 3em;
        padding-right: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        opacity: 0.7;
    }

    .translator {
        flex-grow: 1;
        padding: 0.5em;
        display: flex;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);

        img {
            border-radius: 5px;
            width: 10em;
        }

        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1em;

            h2.name {
                width: 100%;
                margin-bottom: 0;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h3 {
                margin-top: 0;
                opacity: 0.8;
            }
        }
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c0c0c0;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #242943;
}

body::-webkit-scrollbar-thumb {
    background-color: #2a2f4a;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent);
}