@import "buttons";
@import "dropdown";

.ui.modal {
    position: relative !important;
}

.inVisible {
    display: none;
}

.pointer {
    cursor: pointer;
}

.notAllowed,
.notAllowed.ui.icon.button {
    cursor: not-allowed;
}

.mt1 {
    margin-top: 1em;
}

.p1 {
    padding: 1em;
}

.p2 {
    padding: 2em;
}

.p3 {
    padding: 3em;
}

.pt1 {
    padding-top: 1em;
}

// .pt-md-1 {
//     @media (max-width: 768px) {
//         padding-top: 1em;
//     }
// }

.pt2 {
    padding-top: 2em;
}

.pt3 {
    padding-top: 3em;
}

.pb1 {
    padding-bottom: 1em;
}

.pb2 {
    padding-bottom: 2em;
}

.pb3 {
    padding-bottom: 3em;
}