@import "../variables";
@import "oauth";
@import "buttons";
@import "dropdown";
@import "home";

.ui.modal {
    position: relative !important;
}

.inVisible {
    display: none;
}

.pointer {
    cursor: pointer;
}

.notAllowed,
.notAllowed.ui.icon.button {
    cursor: not-allowed;
}

.col-md-0 {
    @media (max-width:992px) {
        display: none !important;
    }
}

.col-sm-0 {
    @media (max-width:768px) {
        display: none !important;
    }
}

.col-xs-0 {
    @media (max-width:576px) {
        display: none !important;
    }
}

.m0 {
    margin: 0;
}

.mt1 {
    margin-top: 1em;
}

.p1 {
    padding: 1em;
}

.p2 {
    padding: 2em;
}

.p3 {
    padding: 3em;
}

.pt1 {
    padding-top: 1em;
}

// .pt-md-1 {
//     @media (max-width: 768px) {
//         padding-top: 1em;
//     }
// }

.pt2 {
    padding-top: 2em;
}

.pt3 {
    padding-top: 3em;
}

.pb1 {
    padding-bottom: 1em;
}

.pb2 {
    padding-bottom: 2em;
}

.pb3 {
    padding-bottom: 3em;
}

.ta-center {
    text-align: center;
}


.col-sm-pt1 {
    @media (max-width:768px) {
        padding-top: 1em;
    }
}

a {
    color: $baseColor !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #C0C0C0;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #242943;
}

body::-webkit-scrollbar-thumb {
    background-color: #2A2F4A;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}