.guide-page {

    .card.guide {
        .content .header {
            position: relative;
        }

        .card-body {
            h3 {
                text-align: center;
            }
        }

        .guide-status>span {
            text-transform: capitalize;
        }

        .guide-status.cancelled>span {
            text-decoration: line-through;
        }

        .guide-status.approved>span {
            color: green;
        }

        .guide-status.pending>span,
        .guide-status.inReview>span {
            color: #2579d2;
        }

        .guide-status.denied>span {
            color: red;
        }
    }

    .guide-item {
        .card-header {
            border-bottom: none;
        }
    }

    .guide-item-img-url {
        text-align: center;
        // .lazy-load-image-background {
        //     margin: 0 auto;
        // }

        img {
            max-height: 400px;
        }
    }

    .action-buttons {
        position: absolute;
        top: 0.3em;
        right: 1.25rem;
    }

    .button b {
        color: inherit;
    }
}


.guide-add-item {
    cursor: pointer;

    .ui.card>.image>img {
        max-width: 100px;
        margin: 0 auto;
        padding: 0.25em;
    }

    .content .header {
        text-align: center;
    }
}

// .card-header .ui.floating.label {
//     margin: 0 0 0 -1em !important;
//     display: flex;

//     span {
//         flex-grow: 2;
//     }

//     &:nth-child(2) {
//         top: 0.25em;
//     }

//     &:nth-child(3) {
//         top: 2.75em;
//     }

//     &:nth-child(4) {
//         top: 5.25em;
//     }
// }