@media (max-width: 991px) {
    section.home_banner_area {
        min-height: unset !important;

        .banner_inner:not(.small) {
            // height: 50vh !important;
            min-height: unset !important;
            padding: 2em 0;

            &.d-flex {
                display: block;
            }
        }
    }

    .area-padding {
        padding: 3em 0;
    }
}

.nav {

    .nav-item:last-child {

        .nav-link {
            border-bottom: unset !important;
        }
    }
}

.ui.pagination.menu .active.item {
    background-color: #e0e1e2 !important;
}