@import "./scss/favison.scss";

:root {
    // AssistantApps WebComponents
    --assistantapps-font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --assistantapps-font-weight: "300";
}

body {
    overflow-x: unset !important;
    min-width: unset !important;

    h1 {
        font-size: 2rem;
    }

    .navbar h2 {
        font-size: 1.71428571rem;
    }
}

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }