/* Statics  Area css
======================================================================= */

.single-data {

    i {
        margin-right: 25px;
        font-size: 25px;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        display: inline-block;
    }

    .ti-paint-bucket {
        color: $circle1;
    }

    .ti-ruler-pencil {
        color: $circle2;
    }

    .ti-check-box {
        color: $circle3;
    }
}

.statics-area {
    .area-heading {
        margin-bottom: 40px;

    }

}